# Core libraries
pyyaml
torch >= 2.0.0
torchvision == 0.15.0  # Ensure this matches the version of torch
xarray
dask
netCDF4
bottleneck
zarr
timm
einops
yacs
tqdm
morecantile
opencv-python
rio-cogeo
shapely
joblib
boto3
huggingface_hub
geojson
scikit-image
Pillow==9.4.0
numpy
pydantic==1.10.11
starlette
pygeos

# Preprocessing dependencies (if only needed for training, separate in a different file if not)
rasterio
rioxarray
geopandas
pandas
matplotlib
scipy

# For GCP support (Optional but useful if you're using GCP Storage/AI)
google-cloud-storage
google-auth
google-cloud-ai-platform

# FastAPI, Gunicorn, and Uvicorn for model serving (only if needed for inference)
fastapi
gunicorn
uvicorn[gunicorn]
